<footer class="footer" role="contentinfo">
  <div class="valuta "><i class="fa fa-pencil"></i><a href="#">Valuta questo sito</a></div>
  <div class="container">

    <img src="{{ output.base_path  }}/themes/si8/images/ras-bianco-png.svg" alt="Regione Autonoma della Sardegna" class="logo"/>
    <h4>SardegnaImpresa<br>Sistema imprenditoriale della Sardegna</h4>

    <div class="row footer-header">
      <div class="col-md-9 footer-title">

        <h5>{{ 'Contacts'|t }}</h5>
        <div class="row">
          <div class="col-md-4 footer-block ">{{ drupal_view_argument('custom_content', 'machine_name', 'footer1') }}</div>
          <div class="col-md-4 footer-block">{{ drupal_view_argument('custom_content', 'machine_name', 'footer2') }}</div>
          <div class="col-md-4 footer-block">{{ drupal_view_argument('custom_content', 'machine_name', 'footer3') }}</div>
        </div>

      </div>
      <div class="col-md-3 footer-title">

        <h5>{{ 'Follow us'|t }}</h5>
        <div class="social footer-block">
          <a href="https://www.facebook.com/sardegnaimpresa"><i class="fa fa-facebook-official"></i></a>
          <a href="https://twitter.com/SardegnaImpresa"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/user/sardegnaimpresa"><i class="fa fa-youtube"></i></a>
        </div>

      </div>
    </div>

    {{ drupal_block('piedipagina') }}

  </div>
</footer>
